[submodule "beanbag-core"]
	path = beanbag-core
	url = https://github.com/oliveryasuna/beanbag-core
[submodule "beanbag-collection"]
	path = beanbag-collection
	url = https://github.com/oliveryasuna/beanbag-collection
[submodule "beanbag-value"]
	path = beanbag-value
	url = https://github.com/oliveryasuna/beanbag-value
